In [30]:
import pandas as pd
from transformers import pipeline
classifier = pipeline("zero-shot-classification",
                      model="facebook/bart-large-mnli")

In [31]:
sequence_to_classify = "one day I will see the world"
candidate_labels = ['This is about travel', 'This is about cooking', 'This is about world']
classifier(sequence_to_classify, candidate_labels)

{'sequence': 'one day I will see the world',
 'labels': ['This is about travel',
  'This is about world',
  'This is about cooking'],
 'scores': [0.7400221228599548, 0.2568458020687103, 0.003132062964141369]}

In [64]:
comments = pd.read_csv('all_comments.csv', encoding_errors='ignore')

In [65]:
comments

      Model    Souce                                            Comment
0     Rogue     Cars  I’ve had my 2021 Rogue SL with the premium pac...
1     Rogue     Cars  I have to preface this by saying I purchased a...
2     Rogue     Cars  Recently traded in my 2016 for the new redesig...
3     Rogue     Cars  Meets our needs comfortable  stylish love the ...
4     Rogue     Cars  Always have been a huge fan of Rogues but I ab...
...     ...      ...                                                ...
4634   RAV4  Edmunds  Bought HNov. 21 to drive back and forth from A...
4635   RAV4  Edmunds  I have a 2021 Rav 4 Hybrid with 6000 kilometer...
4636   RAV4  Edmunds  The tailgate rattles like no SUV I’ve ever own...
4637   RAV4  Edmunds  I purchased my 2021 Toyota Rav4 new in August....
4638   RAV4  Edmunds  First, the fuel economy is great. Although it ...

[4639 rows x 3 columns]

In [66]:
fun_labels = ['Dependable', 'Lasts long', 'Value for money', 'Quality fit and finish', 'Attractive styling'
                                    , 'Safe', 'Retains resale value', 'Driver comfort', 'Fun to drive', 
                                    'Advanced features', 'Responsive handling', 'Prestigious', 'Dealerships', 
        'Fuel efficient', 'Quick acceleration', 'Environmentally friendly', 'Affordable']
lower_labels = [i.lower() for i in fun_labels]

In [67]:
comments[lower_labels] = pd.NaT
comments

,Model,Souce,Comment,dependable,lasts long,value for money,quality fit and finish,attractive styling,safe,retains resale value,driver comfort,fun to drive,advanced features,responsive handling,prestigious,dealerships,fuel efficient,quick acceleration,environmentally friendly,affordable
0,Rogue,Cars,I’ve had my 2021 Rogue SL with the premium pac...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,Rogue,Cars,I have to preface this by saying I purchased a...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,Rogue,Cars,Recently traded in my 2016 for the new redesig...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,Rogue,Cars,Meets our needs comfortable stylish love the ...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,Rogue,Cars,Always have been a huge fan of Rogues but I ab...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4634,RAV4,Edmunds,Bought HNov. 21 to drive back and forth from A...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4635,RAV4,Edmunds,I have a 2021 Rav 4 Hybrid with 6000 kilometer...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4636,RAV4,Edmunds,The tailgate rattles like no SUV I’ve ever own...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4637,RAV4,Edmunds,I purchased my 2021 Toyota Rav4 new in August....,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4638,RAV4,Edmunds,"First, the fuel economy is great. Although it ...",NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [61]:
import time

start = time.time()

rown = comments.shape[0]
for i in range(rown):
    res = classifier(comments.at[i, 'Comment'].lower(), lower_labels, multi_label=True)
    comments.at[i, lower_labels] = dict(zip(res['labels'], res['scores']))
    
end = time.time()
print(end - start)

,Model,Souce,Comment,dependable,lasts long,value for money,quality fit and finish,attractive styling,safe,retains resale value,driver comfort,fun to drive,advanced features,responsive handling,prestigious,dealerships,fuel efficient,quick acceleration,environmentally friendly,affordable
0,Rogue,Cars,I’ve had my 2021 Rogue SL with the premium pac...,0.997278,0.962094,0.993365,0.998664,0.992865,0.968371,0.991858,0.93347,0.998509,0.997302,0.999053,0.995617,0.166873,0.998832,0.992256,0.9986,0.556303
1,Rogue,Cars,I have to preface this by saying I purchased a...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,Rogue,Cars,Recently traded in my 2016 for the new redesig...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,Rogue,Cars,Meets our needs comfortable stylish love the ...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,Rogue,Cars,Always have been a huge fan of Rogues but I ab...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4634,RAV4,Edmunds,Bought HNov. 21 to drive back and forth from A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4635,RAV4,Edmunds,I have a 2021 Rav 4 Hybrid with 6000 kilometer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4636,RAV4,Edmunds,The tailgate rattles like no SUV I’ve ever own...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4637,RAV4,Edmunds,I purchased my 2021 Toyota Rav4 new in August....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4638,RAV4,Edmunds,"First, the fuel economy is great. Although it ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
comments